/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2017, 11:41:59 AM
    Author     : marya
*/

/* ==========================================================================
contact section
========================================================================== */

#contact{ padding-top: 100px;
  padding-bottom: 100px;
    height: 100vh;
}


#contact h2 {
  padding-bottom: 20px;
}
#contact h3 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
#contact .medium-icon {
  padding-top: 10px;
  padding-right: 10px;
}
#contact .contact-info div {
  padding-top: 14px;
  padding-bottom: 14px;
}
#contact form {
  padding-top: 60px;
}
#contact .form-control {
  border: 2px solid #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
#contact input {
    color: #2dc291;
  height: 40px;
}
#contact input[type="submit"] {
  background: #2dc291;
  border: 3px solid #2dc291;
  letter-spacing: 1px;
  margin-top: 18px;
  height: 50px;
  color: #ffffff;
}
#contact input[type="submit"]:hover {
  color: #000000;
}

/* ==========================================================================
media quires for mobile
========================================================================== */
@media (max-width: 440px) {
  #home {
    padding-top: 320px;
    padding-bottom: 320px;
  }
  #home h1 {
    font-size: 22px;
  }
  #home h3 {
    font-size: 12px;
  }
}
