/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 7, 2017, 12:51:31 PM
    Author     : marya
*/
body {
    background: url("../images/photo_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #fff;
}
.dropdown {
    display:inline-block;
    padding:18px;
  }

.scrollbar
{
	height: 300px;
	background: #F5F5F5;
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 250px;
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


.glyphicon-bell {
   
    font-size:1.5rem;
  }

.notifications {
   min-width:250px; 
  }
  
  .notifications-wrapper {
      max-height:250px;
     width: 250px;
    }
    
 .menu-title {
     color:#2dc291;
     font-size:1.5rem;
      display:inline-block;
      }
 
.glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
  
   
 .notification-heading, .notification-footer  {
 	padding:2px 10px;
        text-align: -webkit-center;
       }
      
        
.dropdown-menu.divider {
  margin:5px 0;          
  }

.item-title {
  
 font-size:1.3rem;
 color:#000;
    
}

.notifications a.content {
 text-decoration:none;
 background:#ccc;

 }
    
.notification-item {
 padding:10px;
 margin:5px;
 background:#ccc;
 border-radius:4px;
width:auto;
}




section{
    color: #fff;
    text-align: -webkit-center;
    text-align: center;
}
/*section#Register {
    height: 100vh;
}
section#beinstructor {
    height: 110vh;
}*/
section#about
{
   margin-top: 100px;
}
/* ==========================================================================
navigation section
========================================================================== */
.custom-navbar {
    background: #4B4B4B;
    margin-bottom: 0;
}
.navbar-fixed-top {
    height: 50px;
}
.custom-navbar .navbar-brand  {
    color: #2dc291;
    font-weight: 600;
    font-size: 24px;
}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #00c6d7;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
    text-align: -webkit-center;
}
.custom-navbar .nav li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
.custom-navbar .nav li a:hover {
    background: transparent;
    color: #eeeeee;
}
.custom-navbar .nav > li > a:focus {
    background-color: transparent;
    color: #ffffff;
    outline: none;
}
.custom-navbar .nav li.active > a {
    color: #00c6d7;
}
.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}
.custom-navbar .navbar-toggle .icon-bar {
    background: #00c6d7;
    border-color: transparent;
}
@media(min-width:50px){
    .custom-navbar {
        background: #4B4B4B;
        padding: 10px;
        border-bottom: 0;
        background: 0 0;
    }
    .custom-navbar.top-nav-collapse {
        height: 60px;
        padding: 8px;
        background: #4B4B4B;
    }
}

/* ==========================================================================
search section
========================================================================== */
#search {
padding-top: 10px;
}


#search input[type="text"] {
    background:10px 6px #fcfcfc;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    background: 10px 6px #fcfcfc;
    color: #6a6f75;
    width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}