body{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}
#studentprofile{
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    color: #ffffff;
    width: 100%;
}
section#studentprofile{
    text-align: center;
}
#p_data{
    position: absolute;
    left: 100px;
    top: 25px;
}

#t_data{
    height: 100%;
    margin: 20px;
    color: #2dc291;
}
#p_img{
    height: 75px;
    padding-left: 20px;
}
#r_data{
    padding-left: 20px;
    text-align: center;
}
#r_data th{
    text-align: center;
}
.h1{
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}
#rate{
    margin-left: 20px;
    margin-bottom:10px;
}
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;

    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
.aside{
    width:200px;
    top: 25px;

}

.section{
    height: 250px;
    border: 2px dashed #fff;
    padding: 0 10px;
    background-color: #00BF96;
}
.capitalize{
    color: #fff;
    background-color: #00816A;
    border-radius: 10px;
    text-align: center;
    margin-top: -15px;
}

.section p a{
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: block;
    color: #fff;
}
.div{
    text-align: center;   
}
.div2{
    height: auto;
    border: 2px dashed #fff;

    padding: 0 10px;
    background-color: #00BF96;
}
.h3{
    width: 200px;
    color: #fff;
    background-color: #00816A;
    border-radius: 10px;
    text-align: center;
    margin-top: -15px;
}

.tr{
    color: #fff;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.footer{
    clear: left;
}
#subject{
    color: #00BF96;
    font-size: 28px;
}
